# Python virtual environments
/.venv/
venv/
env/
ENV/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec

# VS Code settings
.vscode/

# macOS
.DS_Store
